* {
    box-sizing: border-box; margin: 0; padding: 0;
}
body{
    background-color: #DAE0E6;
}
.header {
    display: flex;
    background-color: #FFFFFF;      
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.search {
    float: left;
    width: 600px;
    left: 90px;
    right: 500px;
    top: 10px;
    padding: 15px;
}
.searchbar{
   margin-top: 10px;
    width: 90%;
    height: 30px;
    border: 1px solid #2c3863;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 5px;
}
.sbtn{
    width: 8%;
    margin: 2px;
}
.home{
    padding: 15px;
    margin-left: 15px;
}
.button{
    position: absolute;
    right: 30px;
}
.logbtn{
   background-color: #6975a1;
   width: 80px;
   height: 30px;
   border-radius: 9999px;
   margin-top: 25px;
   margin-right: 10px;
}
.userimg{
    margin-right: 10px;
}
.dropdown{
  float: right;
  margin-top: 10px;
}
.container {
    margin-top: 80px;
    background-color: #DAE0E6;
    padding: 50px;
}
.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px 0;
    padding: 12px;
    height: 750px;
}
.container {
    margin-top: 80px;
    background-color: #DAE0E6;
    padding: 50px;
}
.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px 0;
    padding: 12px;
    height: 650px;
}