<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="/script/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="./bootstrapt/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
       .date {
            color: #999;
            margin-bottom: 10px;
       }
       .content {
        border-top: 1px solid #eee;
            margin-top: 5px;
       }
       .accessory {
            border-top: 1px solid #eee;
            padding-top:10px;
            margin-top:10px;
            color: #999;
            font-size: 14px;
       }
       .userimg2{
            margin: 7px 0px;
       }
       .container.CloseModal{
         display:none;
      }
      .name{
          margin-top: 100px;
      }
      * {
    box-sizing: border-box; margin: 0; padding: 0;
}
body{
    background-color: #DAE0E6;
}
.header {
    display: flex;
    background-color: #FFFFFF;      
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.search {
    float: left;
    width: 600px;
    left: 90px;
    right: 500px;
    top: 10px;
    padding: 15px;
}
.searchbar{
   margin-top: 10px;
    width: 90%;
    height: 30px;
    border: 1px solid #2c3863;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 5px;
}
.sbtn{
    width: 8%;
    margin: 2px;
}
.home{
    padding: 15px;
    margin-left: 15px;
}
.button{
    position: absolute;
    right: 30px;
}
.logbtn{
   background-color: #6975a1;
   width: 80px;
   height: 30px;
   border-radius: 9999px;
   margin-top: 25px;
   margin-right: 10px;
}
.userimg{
    margin-right: 10px;
}
.dropdown{
  float: right;
  margin-top: 10px;
}
.container {
    margin-top: 80px;
    background-color: #DAE0E6;
    padding: 50px;
}
.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px 0;
    padding: 12px;
    height: 750px;
}
.container {
    margin-top: 80px;
    background-color: #DAE0E6;
    padding: 50px;
}
.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px auto;
    padding: 12px;
    height: 500px;
    width: 500px;
    border-radius: 10%;
}
    </style>
    <script>
        $(function(){
            $(".home").click(function(){
                document.location.href="/view";
                //alert('홈');
            });
        });

        $(function(){
            $('.logbtn').click(function(){
                document.location.href="/";
            });
        });
        $('#myDropdown').on('show.bs.dropdown', function () {
            $('.dropdown-toggle').dropdown()
        })  
    </script>
    </head>
    <body>
        <div class="header">
            <div class="home">
                <img src="https://png.pngitem.com/pimgs/s/3-33802_house-icon-png-white-my-home-coloring-pages.png" width="50px">
            </div>
            <div class="search">
                <input type="text" class="searchbar" id="search" onkeyup="filter()" placeholder="Search" name="searcword">
                <a href="/view"><button type="submit" class="sbtn">search</button></a>
            </div>
            <div class="button">
                <button type="button" class="logbtn">Log out</button>
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" class="userimg" width="50px">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li class="mm2" ><a href="/write" >write</a></li>
                        <li class="mm3"><a href="/info" >info</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="feed" style="text-align: center;">
                <p style="text-align: center;">
                <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" class="userimg2" width="150px">
                </p>
                <h3 class="name">Name : <%= name %></h3>
                <h3>ID : <%= title %></h3>
                <h3>Password : ****</h3>
                </div>
            </div>
        </div>
    </body>
</html>