<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="/script/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="./bootstrapt/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <style>
        * {
    box-sizing: border-box; margin: 0; padding: 0;
}
body{
    background-color: #DAE0E6;
}
.header {
    display: flex;
    background-color: #FFFFFF;      
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.search {
    float: left;
    width: 600px;
    left: 90px;
    right: 500px;
    top: 10px;
    padding: 15px;
}
.searchbar{
   margin-top: 10px;
    width: 90%;
    height: 30px;
    border: 1px solid #2c3863;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 5px;
}
.sbtn{
    width: 8%;
    margin: 2px;
}
.home{
    padding: 15px;
    margin-left: 15px;
}
.button{
    position: absolute;
    right: 30px;
}
.logbtn{
   background-color: #6975a1;
   width: 80px;
   height: 30px;
   border-radius: 9999px;
   margin-top: 25px;
   margin-right: 10px;
}
.userimg{
    margin-right: 10px;
}
.dropdown{
  float: right;
  margin-top: 10px;
}
.container {
    margin-top: 80px;
    background-color: #DAE0E6;
    padding: 50px;
}
.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px 0;
    padding: 12px;
    height: 750px;
}
.container {
    margin-top: 80px;
    background-color: #DAE0E6;
    padding: 50px;
}
.feed {
    background-color: #ffffff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin: 7px 0;
    padding: 12px;
    height: 650px;
}
    </style>
    <script>
    $(function(){
        $('.sbtn').click(function(){
            let search = document.getElementById("search").value.toLowerCase();
            let feed = document.getElementsByClassName("feed");

            for (let i = 0; i < feed.length; i++) {
                    content = feed[i].getElementsByClassName("content");
                    title = feed[i].getElementsByClassName("title");
                if (content[0].innerHTML.toLowerCase().indexOf(search) != -1 || title[0].innerHTML.toLowerCase().indexOf(search) != -1) {
                    feed[i].style.display = "block"
                } else {
                    feed[i].style.display = "none"
                }
            }
        })
    });

    $(function(){
        $(".home").click(function(){
            document.location.href="/view";
            //alert(id);
        });
    });
    $('#myDropdown').on('show.bs.dropdown', function () {
        $('.dropdown-toggle').dropdown()
            })
    $(function(){
        $('.logbtn').click(function(){
            document.location.href="/";
        });
    });
    

/*
    $(function(){
        $(".feed").click(function(){
            document.location.href="/edt/";
        });
    });  */
    </script>
    <body>
        <div class="header">
            <div class="home">
                <img src="https://png.pngitem.com/pimgs/s/3-33802_house-icon-png-white-my-home-coloring-pages.png" width="50px">
            </div>
            <div class="search">
                <input type="text" class="searchbar" id="search" placeholder="Search">
                <button type="submit" class="sbtn">search</button>
            </div>
            <div class="button">
                <button type="button" class="logbtn">Log out</button>
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" class="userimg" width="50px">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li class="mm2" ><a href="/write" >write</a></li>
                        <li class="mm3"><a href="/info">info</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="aa">
                <select name="sort" id="sort">
                    <option value="basic">정렬</option>
                    <option value="new">최신순</option>
                    <option value="old">오래된순</option>
                </select>

                <select>
                    <option>기간</option>
                    <option>최신순</option>
                    <option>오래된순</option>
                </select>


            </div>

            <% for (var i=0; i<7; i++) { %>
                <div class="feed" id="f0">
                    <p class="title">제목 :  <%= movie[i] %></p>
                    <p class="content">
                        <img src= <%= ss[i] %> width="200px" class="url">
                        <br><br><br>내용 <hr><%= cc[i] %><br><br></p>
                    <div class="accessory">
                        <img src="https://icons.veryicon.com/png/o/miscellaneous/ui-basic-linear-icon/like-106.png" width="12px">  Like  <img src="https://icons-for-free.com/iconfiles/png/512/comment-131965017416332557.png" width="15px">Comments
                        <div class="date">날짜 : <%= date[i] %></div>
                    </div>
                </div>
            <% } %>
</body>