<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="/script/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="./bootstrapt/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        * {
            box-sizing: border-box; margin: 0; padding: 0;
        }
        body{
            background-color: #DAE0E6;
        }
       .header {
            display: flex;
            background-color: #FFFFFF;
            height: 80px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
       }
       .search {
            float: left;
            width: 600px;
            left: 90px;
            right: 500px;
            top: 10px;
            padding: 15px;
       }
       .searchbar{
           margin-top: 10px;
            width: 90%;
            height: 30px;
            border: 1px solid #2c3863;
            border-radius: 4px;
            background-color: #ffffff;
            padding: 5px;
       }
       .sbtn{
           width: 8%;
           margin: 2px;
       }
       .home{
           padding: 15px;
           margin-left: 15px;
       }
       .button{
            position: absolute;
            right: 30px;
        }
       .container {
            margin-top: 80px;
            background-color: #DAE0E6;
            padding: 50px;
       }
       .feed {
            background-color: #ffffff;
            border-top: 1px solid #c0c0c0;
            border-bottom: 1px solid #c0c0c0;
            margin: 7px 0;
            padding: 12px;
            height: 650px;
       }
       .logbtn{
           background-color: #6975a1;
           width: 80px;
           height: 30px;
           border-radius: 9999px;
           margin-top: 25px;
           margin-right: 10px;
       }
       .userimg{
            margin-right: 10px;
       }
       .dropdown{
          float: right;
          margin-top: 10px;
        }
    </style>
    </head>
    <script>

    //var userid = request.getParameter("searcword");
    

    $(function(){
        $('.sbtn').click(function(){
            let search = document.getElementById("search").value.toLowerCase();
            let feed = document.getElementsByClassName("feed");

            for (let i = 0; i < feed.length; i++) {
                    content = feed[i].getElementsByClassName("content");
                    title = feed[i].getElementsByClassName("title");
                if (content[0].innerHTML.toLowerCase().indexOf(search) != -1 || title[0].innerHTML.toLowerCase().indexOf(search) != -1) {
                    feed[i].style.display = "block"
                } else {
                    feed[i].style.display = "none"
                }
            }
        })
    });

    $(function(){
        $(".home").click(function(){
            document.location.href="/view";
            //alert(id);
        });
    });
    $('#myDropdown').on('show.bs.dropdown', function () {
        $('.dropdown-toggle').dropdown()
            })
    $(function(){
        $('.logbtn').click(function(){
            document.location.href="/";
        });
    });
    

/*
    $(function(){
        $(".feed").click(function(){
            document.location.href="/edt/";
        });
    });  */
    </script>
    <body>
        <div class="header">
            <div class="home">
                <img src="https://cdn-icons.flaticon.com/png/512/2549/premium/2549900.png?token=exp=1639359812~hmac=86ce8dd5f3b01205f0d34f77b4652fcd" width="50px">
            </div>
            <div class="search">
                <input type="text" class="searchbar" id="search" placeholder="Search">
                <button type="submit" class="sbtn">search</button>
            </div>
            <div class="button">
                <button type="button" class="logbtn">Log out</button>
                <div class="dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://cdn-icons.flaticon.com/png/512/1144/premium/1144760.png?token=exp=1639442725~hmac=eb6ddf381c4822bc5d504c6b636dece1" class="userimg" width="50px">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li class="mm2" ><a href="/write" >write</a></li>
                        <li class="mm3"><a href="/info">info</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="aa">
                <select name="sort" id="sort">
                    <option value="basic">정렬</option>
                    <option value="new">최신순</option>
                    <option value="old">오래된순</option>
                </select>

                <select>
                    <option>기간</option>
                    <option>최신순</option>
                    <option>오래된순</option>
                </select>


            </div>
            <div class="feed" id="f0">
                <p class="title">제목 :  <%= movie[0] %></p>
                <p class="content">
                    <a href="/edt/<%= edtUrl[0] %>">
                    <img src= <%= ss[0] %> width="200px" class="url">
                </a>
                    <br><br><br>내용 <hr><%= cc[0] %><br><br></p>
                <div class="accessory">
                    <img src="https://cdn-icons.flaticon.com/png/512/2961/premium/2961957.png?token=exp=1639362897~hmac=5abe353df35c89290c94f8296f0de972" width="13px"> Like <img src="https://cdn-icons.flaticon.com/png/512/1947/premium/1947247.png?token=exp=1639362971~hmac=895ea86ac06a099eb6a268abbead06f0" width="15px"> Comments
                    <div class="date">날짜 : <%= date[0] %></div>
                </div>
            </div>
            <div class="feed" id="f1">
                <p class="title">제목 :  <%= movie[1] %></p>
                <p class="content">
                    <img src= <%= ss[1] %> width="200px" class="url">
                    <br><br><br>내용 <hr><%= cc[1] %><br><br></p>
                <div class="accessory">
                    <img src="https://cdn-icons.flaticon.com/png/512/2961/premium/2961957.png?token=exp=1639362897~hmac=5abe353df35c89290c94f8296f0de972" width="13px"> Like <img src="https://cdn-icons.flaticon.com/png/512/1947/premium/1947247.png?token=exp=1639362971~hmac=895ea86ac06a099eb6a268abbead06f0" width="15px"> Comments
                    <div class="date">날짜 : <%= date[1] %></div>
                </div>
            </div>
            <div class="feed" id="f2">
                <p class="title">제목 :  <%= movie[2] %></p>
                <p class="content">
                    <img src= <%= ss[2] %> width="200px" class="url">
                    <br><br><br>내용 <hr><%= cc[2]%><br><br></p>
                <div class="accessory">
                    <img src="https://cdn-icons.flaticon.com/png/512/2961/premium/2961957.png?token=exp=1639362897~hmac=5abe353df35c89290c94f8296f0de972" width="13px"> Like <img src="https://cdn-icons.flaticon.com/png/512/1947/premium/1947247.png?token=exp=1639362971~hmac=895ea86ac06a099eb6a268abbead06f0" width="15px"> Comments
                    <div class="date">날짜 : <%= date[2] %></div>
                </div>
            </div>
            <div class="feed" id="f3">
                <p class="title">제목 :  <%= movie[3] %></p>
                <p class="content">
                    <img src= <%= ss[3] %> width="200px" class="url">
                    <br><br><br>내용 <hr><%= cc[3] %><br><br></p>
                <div class="accessory">
                    <img src="https://cdn-icons.flaticon.com/png/512/2961/premium/2961957.png?token=exp=1639362897~hmac=5abe353df35c89290c94f8296f0de972" width="13px"> Like <img src="https://cdn-icons.flaticon.com/png/512/1947/premium/1947247.png?token=exp=1639362971~hmac=895ea86ac06a099eb6a268abbead06f0" width="15px"> Comments
                    <div class="date">날짜 : <%= date[3] %></div>
                </div>
            </div>
            <div class="feed" id="f4">
                <p class="title">제목 :  <%= movie[4] %></p>
                <p class="content">
                    <img src= <%= ss[4] %> width="200px" class="url">
                    <br><br><br>내용 <hr><%= cc[4] %><br><br></p>
                <div class="accessory">
                    <img src="https://cdn-icons.flaticon.com/png/512/2961/premium/2961957.png?token=exp=1639362897~hmac=5abe353df35c89290c94f8296f0de972" width="13px"> Like <img src="https://cdn-icons.flaticon.com/png/512/1947/premium/1947247.png?token=exp=1639362971~hmac=895ea86ac06a099eb6a268abbead06f0" width="15px"> Comments
                    <div class="date">날짜 : <%= date[4] %></div>
                </div>
            </div>
            <div class="feed" id="f5">
                <p class="title">제목 :  <%= movie[5] %></p>
                <p class="content">
                    <img src= <%= ss[5] %> width="200px" class="url">
                    <br><br><br>내용 <hr><%= cc[5] %><br><br></p>
                <div class="accessory">
                    <img src="https://cdn-icons.flaticon.com/png/512/2961/premium/2961957.png?token=exp=1639362897~hmac=5abe353df35c89290c94f8296f0de972" width="13px"> Like <img src="https://cdn-icons.flaticon.com/png/512/1947/premium/1947247.png?token=exp=1639362971~hmac=895ea86ac06a099eb6a268abbead06f0" width="15px"> Comments
                    <div class="date">날짜 : <%= date[5] %></div>
                </div>
            </div>
            <div class="feed" id="f6">
                <p class="title">제목 :  <%= movie[6] %></p>
                <p class="content">
                    <img src= <%= ss[6] %> width="200px" class="url">
                    <br><br><br>내용 <hr><%= cc[6] %><br><br></p>
                <div class="accessory">
                    <img src="https://cdn-icons.flaticon.com/png/512/2961/premium/2961957.png?token=exp=1639362897~hmac=5abe353df35c89290c94f8296f0de972" width="13px"> Like <img src="https://cdn-icons.flaticon.com/png/512/1947/premium/1947247.png?token=exp=1639362971~hmac=895ea86ac06a099eb6a268abbead06f0" width="15px"> Comments
                    <div class="date">날짜 : <%= date[6] %></div>
                </div>
            </div>
        </div>
</body>